# Create a copy of this file and name it config.properties in the same package location
# This file contains the server configuration that is used to identify the google analytics user account that will be queried

# The google analytics account user id
anayltics.account.id=

# The google analytics user account password
anayltics.account.password=
